<!-- sessions.new.html.erb -->
<div class='parent_clr'>
<br>
<h1>Log In</h1>
<div class="belly_div">
<br>
<%= simple_form_for @parent, url: {controller: :sessions, action: :create} do |f| %>
<%= f.input :email, label: false, placeholder: "Your email is required" %>
<%= f.input	:password, label: false, placeholder: "Your 4 digit password is required" %>
<br>
<%= f.button :submit, "Log In", class: "my-button" %>
<% end %>
</div><!--  close belly_div -->
<br>
<br>
<br>
<br>
<br>
<br>
</div><!--  close parent_clr -->
 