<!-- school_hobbies.index.html.erb -->
<div class="school_clr">
<!-- Note: add to child's list of activities, click on list -->
<h1>List of Public Schools and activities</h1>
<!-- Pseudo:
	school_hobby.all
		:schoolname
		:city
		:state
		Add/drop to child's activities? -->




<h1>List of Public school attendees </h1>
<!-- Note: want to add a child to your list of playmates, click here children.index -->
<!-- pseudocode
	School_hobby.all
	if is_public_school == yes
	school
	@school.children
 -->



</div><!--  close school_clr -->


