div{
	width: 200px;
	height: 100px;
	float: none;
}

.color1{
	background-color
	: #7D1935; 
}

.color2{
	background-color: #4A96AD; 
}

.color3{
	background-color: #F7F7E8; 
}

.color4{
	background-color: #00CC99; 
}

.color5{
	background-color: #CC0099; 
}
.color5a{
	background-color: #C71585; 
}
.color6{
	background-color: #CCCC33; 
}

.color6a{
	background-color: #BFFF00; 
}


.color7{
	background-color: #333399; 
}
.color8{
	background-color: #993333; 
}
