<!-- parents.family.html.erb -->
<br>
<h1>Your Kids</h1>
<br>
<br>
<table border="1" style="width:100%">
 <% @child.each do |w| %>
 <tr>	
	<td><%= w.nickname %></td>
	<td><%= w.hobbyteachone %></td>   
	<td><%= w.hobbyteachtwo %> </td>
</tr>




