<!-- parents.index.html.erb(map) -->
<!-- ####### BODY CODE TAG STARTS ABOVE ########## -->
  <%= include_gon(:init => true) %>
<!-- ####### GON CODE TAG from gem file ########## -->


<!-- #### This code above from has my API in it  ###### -->
<div class="parent_clr">
<br>
<h1>classyparent Residential Map</h1><h4>
<br>
This map is centered on the residence you entered and only shows the residences that other classyparents have agreed to share.</h4>
<div class="belly_div"><!-- smaller window styling -->
	  <div id="map" style='width: 100%; height: 300px;'></div>
	</div>
<br>
</div><!--  close belly_div -->
<!-- ######## GMAPS4RAILS DIV TAGS ABOVE ######## -->
<script type="text/javascript">
  initMap(<%=raw @hash.to_json %>);
</script>
<br>
<br>
</div><!--  close parent_clr