<!-- parents.start.html.erb -->
<!-- <div class="pink_e_div">&nbsp</div> -->
<div class='parent_clr'>
<br>
<br>
<h4>A place for busy parents to maximize their
time to make and keep play dates for their children.
Contact information for your child's friends, hobbies and schools.</h4>
<br>
<h4>
Your child's playfriends might live nearer than you think...
See where other classyparents live on a local map. 
</h4>
<h4>Find out if that gymnastics class is right for your child. Ask another classyparent!
<h4>

<br>
<br>
<h3>under development</h3>
<h3><%= link_to "Sign Up", new_parent_path %>
<br>
<br>
<%= link_to "Log In", login_path %></h3>
<br>
</div><!--  close parent_clr -->

<!-- save for later logo development
<h1>classy&#x2606;parent</h1> 
<h1>classyparent&#x2606;</h1>
<h1>&#x2606;classyparent</h1>
 -->