<!-- parents.start.html.erb
 --><!-- <div class="pink_e_div">&nbsp</div> -->
<div class='parent_clr'>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="text_div">
	A place for busy parents to maximize their
	time to make and keep play dates for their children.
	<br>
	Contact information for your child's friends, hobbies and schools.
	<br>
	Your child's playfriends might live nearer than you think...
	See where other classyparents live on a local map. 
	<br>
	Find out if that gymnastics class is right for your child. Ask another classyparent!
</div><!--  close text_div -->
<br>
<br>
<h3>
<br>
<br>
<br>
</div><!--  close parent_clr -->
