$cp-pink: #C71585;
$cp-yellow: #ACE600;
$cp-blue: #333399;
.child_clr{
	background-color: $cp-yellow;
	h1{
		color: white;
		font-family: "Trebuchet MS", sans-serif;
	}
	h2{
		color: white;
		font-family: "Verdana", sans-serif;
	}
	h3{
		color: white;
		font-family: "Verdana", sans-serif;
	}

}