// Place all the styles related to the Parents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$cp-magenta: #C71585;
$cp-yellow: #BFFF00;
$cp-blue: #333399;

body {
     background-color:$default-blue;
}