$cp-pink: #C71585;
$cp-yellow: #ACE600;
$cp-blue: #333399;

.school_clr{
	background-color: $cp-blue;
	h1{
		color: white;
		font-family: "Verdana", sans-serif;
	}
	h2{
		color: white;
		font-family: "Verdana", sans-serif;
	}
	h3{
		color: white;
		font-family: "Verdana", sans-serif;
	}
	h4{
		color: white;
		font-family: "Verdana", sans-serif;
	}
}/* close school_clr*/
.read_text{
	width: 85%;
	position: relative;
		left: 5%;
	padding: 10px;
	border: 0px;
}
